/* Rounded menus */
.menu_c1e9c4 {
  border-radius: 1.25rem;
}
.item_c1e9c4 {
  border-radius: 0.75rem !important;
}

/* Rounded inbox */
.recentMentionsPopout__95796, .messagesPopoutWrap__45690 {
  border-radius: 1.25rem;
}

/* Rounded App Launcher */
.root_ccf174,
.drawerSizingWrapper__9c62c,
.contentWrapper__9c62c {
  border-radius: 1.25rem !important;
}

/* Rounded activy sidebar activities */
.interactive_bf1984, .itemCard__7e549 {
  border-radius: 1.25rem;
}

/* Rounded profile + Blurred background buttons + more spacious badges */
.root__24502, .root__49fc1, .small__49fc1,
.outer_c0bea0 {
  border-radius: 1.25rem !important;
}
.inner_c0bea0 {
  border-radius: 1.1rem !important;
}
.button_fb7f94, 
.button__201d5 {
  backdrop-filter: blur(1rem) !important;
}
.container__8061a {
  padding: 0.25rem !important;
  border-radius: 0.5rem;
}

/* Rounded Quick Switcher */
.quickswitcher_ac6cb0 {
  border-radius: 1.75rem;
}

/* Rounded Upload Attachments */
.upload_aa605f {
  border-radius: 1rem !important;
}

/* Rounded account card list (account switcher) */
.list__920b8 {
  border-radius: 1rem;
}
