body {
  background: transparent !important;
}

/* Transparency v2 */
html,
.appAsidePanelWrapper_a3002d,
.notAppAsidePanel_a3002d,
.appMount__51fd7,
.wrapper__452c3,
.layerContainer_da8173,
.canvasWrapper_f7aebd,
.canvas_eb6eba,
.gadientHighlight__452c3,
.base_c48ade,
.app__160d8,
.bg__960e4,
.layer__960e4, .baseLayer__960e4,
.container_c48ade,

.bar_c38106, /* Top bar */

.content_c48ade /* Under top bar */ {
  background: transparent !important;
}

/* Transparent Sidebar v2 */
.sidebar_c48ade,
.sidebar_c48ade::after,
nav,
.wrapper_ef3116 .guilds_c48ade,
.tree_ef3116,
.itemsContainer_ef3116,

.sidebarList_c48ade, .sidebarListRounded_c48ade,
.privateChannels__35e86,
.scroller__99e7c, .thin__99f8c .scrollerBase__99f8c .fade__99f8c,
.content__99f8c,
.channel__972a0 .container_e45859,
ul,
.container_f37cb1, .clickable_f37cb1, /* server button */ 
header,
.container__551b0 /*discovery */ {
  background: transparent !important;
}

/* Transparent "Active Now" Right Sidebar */
.nowPlayingColumn__133bf,
.container__7d20c,
.scroller__7d20c .thin_d125d2 .scrollerBase_d125d2 {
  background: transparent !important;
}

/* Transparent member list right sidebar */
.container_c8ffbb,
aside,
.members_c8ffbb {
  background: transparent !important;
}

/* Transparent main page & chat v2 */
:root {
  --background-base-lower: transparent !important;
}
.page_c48ade, /* Main page */ 
main,
.images-dark .container__9293f .themed__9293f, section, /* Tab bar */ 
.tabBody__133bf,
.children__9293f::after,
.chat_f75fb0, /*Chat*/ 
.form_f75fb0::before, .formWithLoadedChatInput_f75fb0::before,
.applicationStore_f07d62, /* Nitro */
.homeWrapperNormal__0920e, .homeWrapper__0920e,
section,
.mainPageScroller_ca1a02, .auto_d125d2, .scrollerBase_d125d2:not(.popout__3f413),
.container_ca1a02,
.shop__6db1d, /* shop  */
.shopScroll__6db1d, .thin_d125d2,
.shopViewWrapper__6db1d, .visible__6db1d,
.shop__08415,
.page_c791b2, /* Members page */
.header_c791b2, .container__9293f, .themed__9293f,
.thin_d125d2 {
  background: transparent !important;
}
